/**********************************************************************************
* NewsletTux 3 R2                                                                 *
* Project by Matthieu LACROIX (http://www.newslettux.fr)                          *
* =============================================================================== *
* Software Version:           NewsletTux 3.1.0. R2                                *
* Software by:                Matthieu LACROIX (http://www.newslettux.fr)         *
* Copyright 2009-2010 by:     NewsletTux.fr (http://www.newslettux.fr)            *
*                                                                                 *
* Support, News, Updates at:  http://www.newslettux.fr                            *
***********************************************************************************
* This program is free software but NOT open source. You may not distribute it    *
* under the terms of the provided license as published by Matthieu LACROIX        *
* You are not allowed to edit parts of this file.                                 *
*                                                                                 *
* This program is distributed in the hope that it is and will be useful, but      *
* WITHOUT ANY WARRANTIES; without even any implied warranty of MERCHANTABILITY    *
* or FITNESS FOR A PARTICULAR PURPOSE.                                            *
*                                                                                 *
* See the "{en|fr}_license_newslettux3.txt" file for details of the               *
* NewsletTux license.                                                             *
* The latest version can always be found at http://www.newslettux.fr              *
**********************************************************************************/

html, body
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:90%;
	margin:0;
	padding:0;
}

body
{
	/*background-color:#336633;*/
	background:#A6CD63 url(../_img/theme/main_bg.jpg) repeat-x top left;
	margin:0;
	padding:0;
	width:100%;
}

#n3tpl_mainbg
{
	height:100%;
	left:0px;
	overflow:hidden;
	position:fixed;
	top:0px;
	width:100%;
	z-index:1;
}


#n3tpl_mainbg img
{
	height:100%;
	width:100%;
}



#tpl_header_tabs
{
	margin:0 auto 0 auto;
	padding:0;
	width:800px;
}


#n3tpl_mainpage
{
	height:50%;
	left:0px;
	overflow:overflow;
	position:absolute;
	top:0px;
	width:100%;
	z-index:3;
}

/* **********************************************************************************
 * HEADER
 * ******************************************************************************** */
#n3tpl_header
{
	/*border:2px solid red;*/
	height:51px;
	margin:0;
	background:#A6CD63 url(../_img/theme/main_bg.jpg) repeat-x top left;
}

#n3tpl_header h1
{
	color:#090;
	display:inline;
}

#n3tpl_header h1 span
{
	color:#000;
	float:left;
	padding-left:5px;
	text-align:left;
}

#n3tpl_header h1 img
{
	float:left;
	margin-right:0px;
}


#n3tpl_header ul
{
	margin:0;
	padding:0;
	position:absolute;
	top:15px;
	right:10px;
}

#n3tpl_header ul li
{
	display:inline;
	font-size: 11px;
	list-style-type:none;
	margin:0;
	padding:0;
	white-space: nowrap;
}

#n3tpl_header span
{
	font-style:italic;
}

#n3tpl_header a
{
	color:#000;
	text-decoration:underline;
}


/* **********************************************************************************
 * HEADER ITEMS
 * ******************************************************************************** */

#n3tpl_header h1
{
}


/* **********************************************************************************
 * MAIN CONTENT
 * ******************************************************************************** */
#n3tpl_main_content
{
}


/* **********************************************************************************
 * MENU
 * ******************************************************************************** */
#n3tpl_menu
{
	/*background-color:#FFF;*/
	margin-top:10px;
	margin-left:10px;
	margin-right:20px;
	margin-bottom:20px;
	position:absolute;
	width:230px;
}


#n3tpl_menu ul
{
	margin:0;
	padding:0;
}

#n3tpl_menu ul li ul
{
	border:2px solid #336633;
	padding:10px 0 10px 0;
}

#n3tpl_menu ul li
{
	list-style-type:none;
	margin-left:0;
	margin-bottom:.5em;
	padding-left:5px;
}

#n3tpl_menu ul li h4
{
	padding:5px;
}

#n3tpl_menu ul#tpl_leftmenu_content a
{
	color:#009;
	font-size:0.9em;
	text-decoration:none;
}

#n3tpl_menu ul#tpl_leftmenu_content a:hover
{
	font-weight:bold;
}


#n3tpl_menu ul#tpl_leftmenu_content a:hover span
{
	text-decoration:underline;
}

#n3tpl_menu ul#tpl_leftmenu_content li
{
	background:url(../_img/theme/menu_bloc_top.png) no-repeat top left;
}

#n3tpl_menu #tpl_leftmenu_content li ul
{
	background:#F1F9E2;
}

#n3tpl_menu #tpl_leftmenu_content li ul li
{
	background:none;
}


/* **********************************************************************************
 * CONTENT
 * ******************************************************************************** */
#n3tpl_content
{
	color:#FFF;
	font-weight:bold;
	padding-left:250px;
}


#n3tpl_content ul.letters li
{
	float:left;
	list-style-type:none;
}

#n3tpl_content ul.letters li a
{
	background:url(../_img/theme/letter.png) no-repeat top left;
	color:#00312b;
	display:block;
	font-weight:bold;
	height:36px;
	margin:5px 3px 5px 3px;
	padding-top:8px;
	text-align:center;
	text-decoration:none;
	width:28px;
}

#n3tpl_content ul.letters li a:hover,
#n3tpl_content ul.letters li.prehover_letter a
{
	background:url(../_img/theme/letter_hover.png) no-repeat top left;
	color:#FFF;
}


/* **********************************************************************************
 * HTML Classes
 * ******************************************************************************** */
h1
{
	color:#F9FBFF;
	font-size:130%;
	font-style:italic;
	padding-right:1em;
	text-align:right;
}

h2
{
	background:url(../_img/ico/32/logo_newslettux_3.png) no-repeat top left;
	border-bottom:1px dotted #F9FBFF;
	color:#F9FBFF;
	font-size:120%;
	padding:8px 0 8px 35px;
}

h3
{
	color:#D2E5FD;
	font-size:110%;
}

h4
{
	color:#000;
	font-size:100%;
}

.table_data tbody tr td
{
	border-bottom:1px dotted #000;
	border-right:1px dotted #000;
}

.table_data .thead_cells th
{
	background:#367C8D url(../_img/theme/tablehead_bg.png) repeat-x top left;
	color:#FFF;
	height:48px;
	padding:2px 0 0 0px;
	text-align:center;
}

.cell_id
{
	border-left:1px dotted #000;
	font-family:courier;
	text-align:center;
}

.line_pair
{
	background-color:#D2E5FD;
	color:#000;
}

.line_unpair
{
	background-color:#FFF;
	color:#000;
}

.cell_hover
{
	background-color:#D2E5FD;
	color:#000;
}

.cell_hidden
{
	background-color:#D0D0D0;
	color:#000;
	padding:2em;
}

.quicklinks
{
	background-color:#C8E9FD;
	margin:1em;
	padding:1em;
}

.quicklinks strong
{
	color:#000000;
}

/* ************************************************************************** */
/* BIG LINKS */
/* ************************************************************************** */
.big_link a:link, .big_link a:visited
{
	background-position:left;
	background-repeat:no-repeat;
	color:#000;
	display:block;
	font-weight:bold;
	height:66px;
	margin:10px 5px;
	padding:15px 0 0 75px;
	text-decoration:none;
}

.big_link a:hover
{
	background-color:#F0F0F0;
	color:#009;
}

.big_link ul, .big_link li
{
	list-style-type:none;
	margin:0;
	padding:0;
}

.big_link a span
{
	color:#009;
	font-weight:normal;
}

.big_link a:hover span
{
	color:#000;
}

.strike
{
	text-decoration:line-through;
}

/* ************************************************************************** */
/* FORMS*/
/* ************************************************************************** */
form
{
	font-weight:normal;
	margin:1em;
}


form .formhead
{
	background:url(../_img/theme/formhead_bg.png) repeat-x top left;
	padding:3px 0 0 15px;
	margin:0;
	height:21px;
}

form .formhead h3
{
	color:#000;
	display:inline;
	margin:0;
	padding-top:0px;
}

form .formbody
{
	background-color:#f9fbff;
	border-left:4px solid #ccff99;
	border-right:4px solid #ccff99;
	margin:0;
	padding:1em 0 1em 0;
}

form.wizard .formbody
{
	background:url(../_img/theme/wizard.png) no-repeat top left;
	background-color:#f9fbff;
	border-left:4px solid #ccff99;
	border-right:4px solid #ccff99;
	margin:0;
	padding:1em 0 1em 0;
	padding-left:120px;
}


form .formfoot
{
	background:url(../_img/theme/formfoot_bg.png) repeat-x bottom left;
	background-color:#f9fbff;
	border:4px solid #ccff99;
	border-top:0;
	color:#FFF;
	height:43px;
	margin:0;
	padding:5px 10px 0 15px;
	text-align:right;
}


form fieldset
{
	border:0;
	border-top:2px solid #000;
	color:#000;
	margin:2em 0 0 0;
	padding:0 1em;
}

form fieldset legend
{
	background-color:#F9FBFF;
	font-weight:bold;
	margin-left:10px;
	padding:0 3px; /* For IE */
}

form fieldset ul li
{
	list-style-type:none;
	margin-bottom:1em;
}

form fieldset ul li ul li
{
	list-style-type:none;
	margin-bottom:0;
}


form fieldset label, .pseudo_label_item
{
	float:left;
	padding-right:10px;
	text-align:right;
	width:45%;
}

form .pseudo_label_label
{
	float:none;
	width:auto;
}

.pseudo_label_select
{
	width:auto;
}

form .pseudo_label_listitem li
{
	margin-left:45%;
	width:auto;
}

form input[type=text], form select, form textarea, form input[type=password]
{
	width:45%;
}

form input[type=submit]:hover
{
	color:#F00;
}





/* ************************************************************************** */
/* COMMON CLASSES */
/* ************************************************************************** */
img
{
	border:0;
}

.pseudo_link
{
	cursor:pointer;
	text-decoration:underline;
}

.compulsory
{
	color:#F00;
}

.compulsorylegend
{
	color:#000;
	font-size:0.9em;
}

.operations
{
	text-align:center;
	width:130px;
}

.operations img
{
	margin-right:5px;
}


.nok, .ok, .warning, .info
{
	background-position:center left;
	background-repeat:no-repeat;
	font-weight:bold;
	margin:2em 10%;
	padding:15px 15px 15px 55px;
}

.nok
{
	background-color:#FDDBCC;
	background-image:url(../_img/ico/48/div_nok.png);
	border-top:2px solid #F00;
	border-bottom:2px solid #F00;
	color:#F00;
}

.ok
{
	background-color:#DEA;
	background-image:url(../_img/ico/48/div_ok.png);
	border-top:2px solid #090;
	border-bottom:2px solid #090;
	color:#090;
}

.warning
{
	background-color:#FFFFEE;
	background-image:url(../_img/ico/48/div_warning.png);
	border-top:2px solid #EEEE00;
	border-bottom:2px solid #EEEE00;
	color:#000;
}

.info
{
	background-color:#D2E5FD;
	background-image:url(../_img/ico/48/div_info.png);
	border-top:2px solid #009;
	border-bottom:2px solid #009;
	color:#009;
}

.input_info
{
	background-color:#D2E5FD;
	border:1px solid #009;
	color:#009;
	font-weight:bold;
	padding:2px;
}

.input_nok
{
	background-color:#FDDBCC;
	border:1px solid #F00;
	color:#F00;
	font-weight:bold;
	padding:2px;
}

.input_ok
{
	background-color:#DEA;
	border:1px solid #090;
	color:#090;
	font-weight:bold;
	padding:2px;
}

.input_warning
{
	background-color:#FFFFEE;
	border:1px solid #EEEE00;
	color:#F60;
	font-weight:bold;
	padding:2px;
}

.ntux3_about
{
	background:#FFF url(../_img/theme/logo_newslettux_3.png) no-repeat top right;
	border:1px dotted #009;
	color:#000;
	margin:80px auto;
	padding:5px;
	width:50%;
}

.ntux3_about h3
{
	color:#009;
}

.ntux3_about ul
{
	margin:0;
	padding:0 0 0 10px;
}

.ntux3_about li
{
	list-style-type:none;
}

.ntux3_about span
{
	font-weight:bold;
	float:left;
	width:30%;
}

.ntux3_about span.details
{
	font-weight:normal;
	float:left;
	margin-bottom:0.5em;
	width:68%;
}

ul#unit_test_ckeck li
{
	list-style-type:none;
}

label#label_unit_test_check_1, label#label_unit_test_check_0, label#label_unit_test_check_2
{
	float:left;
	width:25%;
}

#unit_test_ckeck input
{
	float:left;
	width:auto;
}

label#label_unit_test_check_0
{
	text-align:center;
	font-weight:bold;
	background-color:#FDDBCC;
	color:#f00;
	border:1px solid #FEAA85;
	padding:2px;
	margin-right:20px;
}

label#label_unit_test_check_1, label#label_unit_test_check_2
{
	text-align:center;
	font-weight:bold;
	background-color:#DEA;
	color:#090;
	border:1px solid #090;
	padding:2px;
	margin-right:20px;
}


ul#update_items
{
	margin-top:4em;
}

ul#update_items li
{
	list-style-type:none;
}

ul#update_items li
{
	float:left;
	text-align:center;
	width:40%;
}

ul#update_items li span
{
	text-align:center;
	font-weight:bold;
	background-color:#D2E5FD;
	color:#009;
	border:1px solid #009;
	padding:10px;
	margin-right:10px;
}

/* ************************************************************************** */
/* PHP INFO */
/* ************************************************************************** */
#phpinfo { height:300px; overflow:auto; }
#phpinfo td, #phpinfo th, #phpinfo h1, #phpinfo h2 {font-family: sans-serif;}
#phpinfo pre {margin: 0px; font-family: monospace;}
#phpinfo a:link {color: #000099; text-decoration: none; background-color: #ffffff;}
#phpinfo a:hover {text-decoration: underline;}
#phpinfo table {border-collapse: collapse;}
#phpinfo .center {text-align: center;}
#phpinfo .center table { margin-left: auto; margin-right: auto; text-align: left;}
#phpinfo .center th { text-align: center !important; }
#phpinfo td, #phpinfo th { border: 1px solid #000000; font-size: 75%; vertical-align: baseline;}
#phpinfo h1 {font-size: 150%;}
#phpinfo h2 {font-size: 125%;}
#phpinfo .p {text-align: left;}
#phpinfo .e {background-color: #ccccff; font-weight: bold; color: #000000;}
#phpinfo .h {background-color: #9999cc; font-weight: bold; color: #000000;}
#phpinfo .v {background-color: #cccccc; color: #000000;}
#phpinfo .vr {background-color: #cccccc; text-align: right; color: #000000;}
#phpinfo img {float: right; border: 0px;}
#phpinfo hr {width: 600px; background-color: #cccccc; border: 0px; height: 1px; color: #000000;}

/* ************************************************************************** */
/* FORMS CALENDAR */
/* ************************************************************************** */
div.calendar { position: relative; }

.calendar, .calendar table
{
	border: 1px solid #556;
	font-size: 11px;
	color: #000;
	cursor: default;
	background: #F5F5F5;
	font-family: tahoma,verdana,sans-serif;
}

	/* Header part -- contains navigation buttons and day names. */

.calendar .button
{ /* "<<", "<", ">", ">>" buttons have this class */
	text-align: center;    /* They are the navigation buttons */
	padding: 2px;          /* Make the buttons seem like they're pressing */
}

.calendar thead .title
{ /* This holds the current "month, year" */
	font-weight: bold;      /* Pressing it will take you to the current date */
	text-align: center;
	background: #fff;
	color: #000;
	padding: 2px;
}

.calendar thead .headrow
{ /* Row <TR> containing navigation buttons */
	background: #7B9CAE;
	color: #fff;
}

.calendar thead .daynames
{ /* Row <TR> containing the day names */
	background: #C4D3DB;
}

.calendar thead .name
{ /* Cells <TD> containing the day names */
	border-bottom: 1px solid #556;
	padding: 2px;
	text-align: center;
	color: #000;
}

.calendar thead .weekend
{ /* How a weekend day name shows in header */
	color: #a66;
}
.calendar thead .hilite
{ /* How do the buttons in header appear when hover */
	background: #3C5462;
	color: #FFF;
	border: 1px solid #3C5462;
	padding: 1px;
}

.calendar thead .active
{ /* Active (pressed) buttons in header */
	background: #77c;
	padding: 2px 0px 0px 2px;
}

	/* The body part -- contains all the days in month. */

.calendar tbody .day
{ /* Cells <TD> containing month days dates */
	width: 2em;
	color: #456;
	text-align: right;
	padding: 2px 4px 2px 2px;
}

.calendar tbody .hilite
{ /* Hovered cells <TD> */
	background: #DEE7EB;
	padding: 1px 3px 1px 1px;
	border: 1px solid #bbb;
}

.calendar tbody .active
{ /* Active (pressed) cells <TD> */
	background: #cde;
	padding: 2px 2px 0px 2px;
}

.calendar tbody .selected
{ /* Cell showing today date */
	font-weight: bold;
	border: 1px solid #000;
	padding: 1px 3px 1px 1px;
	background: #fff;
	color: #000;
}

.calendar tbody .weekend
{ /* Cells showing weekend days */
	color: #a66;
}

.calendar tbody .today
{ /* Cell showing selected date */
	font-weight: bold;
	color: #000;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell
{ /* Empty cells (the best is to hide them) */
	visibility: hidden;
}

.calendar tbody .emptyrow
{ /* Empty row (some months need less than 6 rows) */
	display: none;
}

	/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow
{ /* The <TR> in footer (only one right now) */
	text-align: center;
	background: #556;
	color: #fff;
}

.calendar tfoot .ttip
{ /* Tooltip (status bar) cell <TD> */
	background: #fff;
	color: #445;
	border-top: 1px solid #556;
	padding: 1px;
}

.calendar tfoot .hilite
{ /* Hover style for buttons in footer */
	background: #aaf;
	border: 1px solid #04f;
	color: #000;
	padding: 1px;
}

.calendar tfoot .active
{ /* Active (pressed) style for buttons in footer */
	background: #77c;
	padding: 2px 0px 0px 2px;
}

	/* Combo boxes (menus that display months/years for direct selection) */

.combo
{
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	width: 4em;
	cursor: default;
	border: 1px solid #655;
	background: #def;
	color: #000;
	font-size: smaller;
}

.combo .label
{
	width: 100%;
	text-align: center;
}

.combo .hilite
{
	background: #acf;
}



/* **********************************************************************************
 * FORM LIST PROFILES
 * ******************************************************************************** */
ul.form_list_items label
{
	float:none;
	width:auto;
}

ul.form_list_items
{
	margin-left:45%;}


dl.form_list_profiles
{
	float:left;
	margin:2em 10px;
	padding:0;
	width:250px;
}

.form_list_profiles dt
{
	/*background-color: #CCC;*/
	background:url(../_img/theme/formhead_bg.png) repeat-x top left;
	border-left: 1px solid #131210;
	border-right: 1px solid #131210;
	border-top: 1px solid #131210;
	border:0;
	color:#009;
	font-weight: bold;
	margin:0;
	padding: 0em .5em;
	text-align: center;
	text-transform: uppercase;
}

.form_list_profiles dt a
{
	border:0;
	color:#FFF;
	font-style:normal;
}

.form_list_profiles dd
{
	background: #d8d7d7;
	border-bottom: 1px solid #d8d7d7;
	border-left: 1px solid #d8d7d7;
	border-right: 1px solid #d8d7d7;
	font-style: italic;
	margin: 0 0 1em 0;
	padding:1em .5em;
	text-align: center;
}

.form_list_profiles dd ul, .form_list_profiles dd li
{
	margin:0;
	padding:0;
}